<div class="container-fluid">
  <div class="row flex-nowrap min-vh-100">
    <div class="col-auto bg-black">
      <div class="d-flex flex-column align-items-center">
        <a href="/" class="pb-3 text-decoration-none">
          <img class="d-sm-none" src="assets/listup.png" height="30" width="30" alt="">
          <span class="fs-1 ms-3 d-none d-sm-flex text-white">ListUp!</span>
        </a>
        <ul class="nav nav-pills flex-column align-items-start align-items-sm-center">
          <li>
            <a href="/login" class="nav-link px-0" *ngIf="!isLoggedIn">
              <fa-icon [icon]="faUser" size="lg"></fa-icon><span class="fs-3 ms-1 d-none d-sm-inline">Zaloguj</span> </a>
          </li>
          <li>
            <a href="/register" class="nav-link px-0" *ngIf="!isLoggedIn">
              <fa-icon [icon]="faUserPlus" size="lg"></fa-icon> <span class="fs-3 ms-1 d-none d-sm-inline">Zarejestruj</span></a>
          </li>
          <li>
            <a href="/groups" class="nav-link px-0" *ngIf="isLoggedIn">
              <fa-icon [icon]="faUsers" size="lg"></fa-icon><span class="fs-3 ms-1 d-none d-sm-inline">Grupy</span> </a>
          </li>
          <li>
            <a href="/owned_groups" class="nav-link px-0" *ngIf="isLoggedIn">
              <fa-icon [icon]="faUserTie" size="lg"></fa-icon><span class="fs-3 ms-1 d-none d-sm-inline">Moje grupy</span> </a>
          </li>
          <li>
            <a href="/my_tasks" class="nav-link px-0" *ngIf="isLoggedIn">
              <fa-icon [icon]="faList" size="lg"></fa-icon><span class="fs-3 ms-1 d-none d-sm-inline">Zadania</span> </a>
          </li>
          <li>
            <a href="/settings" class="nav-link px-0" *ngIf="isLoggedIn">
              <fa-icon [icon]="faCogs" size="lg"></fa-icon> <span class="fs-3 ms-1 d-none d-sm-inline">Ustawienia</span></a>
          </li>
          <li>
            <a href="#" (click)="logout()" class="nav-link px-0" *ngIf="isLoggedIn">
              <fa-icon [icon]="faUsers" size="lg"></fa-icon><span class="fs-3 ms-1 d-none d-sm-inline">Wyloguj</span> </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col px-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
